@import'_vars';

*{
    box-sizing: border-box;
}
.container{
    width: 1230px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
a{
    text-decoration: none;
    display: inline-block;
}
header{
    min-height: 87px;
    .container{
        display: flex;
        justify-content: space-between;
    }
}
.header_logo{
    display: inline-block;
    transform: translateY(30%);
}
.header_content{
    display: flex;
    ul{
        list-style: none;
        li{
            display: inline-block;
            
            a{
                color: #2c465a;
                font-family: $font-text;
                font-size: 15px;
                line-height: 40px;
                margin-right: 30px;
                text-transform: uppercase;
            }
        }
    }  
}
.cart{
	width: 24px;
	height: 24px;
    position: relative;
	margin-right: 30px;
	&::before{
		content: '\f07a';
		font-family: 'icomoon';
		font-size: 14px;
		color: #000;
		position: absolute;
		top: 50%;
		left: 50%;
        transform: translate(-50%, -50%);
	}
	span{
		display: inline-block;
		position: absolute;
		right: -6px;
		top: -6px;
		background-color: #fe4c8d;
		border-radius: 50%;
		font-size: 11px;
		color: #fff;
		width: 18px;
		height: 18px;
		text-align: center;
		line-height: 18px;
	}
}
.book_table{
    background-color: #fea100;
    outline: none;
    border: double #fff;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    img{
        margin-right: 15px;
    }
    a{
    color: #fff;
    font-family: $font-text;
    font-size: 16px;
    line-height: 40px;
    }
}
.main{
    background-image: url(../img/main.jpg);
    min-height: 570px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_inner{
    background-color: rgba(0, 0, 0, .5);
    min-height: 570px;
}
.main-slogan{
    color: #fff;
    font-family: $font-title;
    font-size: 56px;
    max-width: 500px;
    padding-top: 50px;
}
.main-underline{
    background-color: #edf1f3;
    min-height: 100px;
    .container{
    display: flex;
    justify-content: space-between;
        .explore{
            display: inline-block;
            width: 205px;
            height: 246px;
            margin-top: -163px;
            position: relative;
            
            .explore_text{
                max-width: 130px;
                position: absolute;
                top: 110px;
                left: 37px;
                color: #fff;
                font-family: $font-title;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
            }  
        }
    }
    .underline_right_part{
        display: flex;
        justify-content: space-between;
    }
    .review{
        width: 220px;
        padding-top: 33px;
        margin-right: 40px;
        display: flex;
        align-items: center;
        img{
            width: 45px;
            height: 45px;
            padding-top: 10px;
        }
        .review_text{
            width: 90px;
            margin-left: 15px;
            font-family: $font-text;
            font-size: 15px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            span{
                color: $orange;
            }
        }
        .go_review{
            width: 45px;
            height: 45px;
            margin-left: 15px;
            background-color: $orange;
            border-radius: 50%;
            border: double #fff;
        }
    }
    .delivery{
        width: 450px;
        padding-top: 33px;
        display: flex;
        align-items: center;
        margin-left: 40px;
        img{
            width: 45px;
            height: 45px;
            padding-top: 10px;
        }
        .delivery_text{
            width: 140px;
            margin-left: 15px;
            font-family: $font-text;
            font-size: 15px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            span{
                color: $orange;
            }
        }
        a{
            font-family: $font-title;
            font-size: 25px;
            color: #000;
            font-weight: 700;
            padding-left: 20px;
            border-left: 1px solid #d7dee3;
        }
    }   
}
.about_inner{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}
.about_content{
    max-width: 570px;
    .about_content_title{
        font-family: $font-title;
        color: #000;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .about_content_text{
        font-family: $font-text;
        font-size: 15px;
        line-height: 22px;
        color: $colorbg;
        padding-bottom: 45px;
    }
    button{
        background-color: $orange;
        border: none;
        border-radius: 4px;
        a{
            color: #fff;
            font-family: $font-text;
            font-size: 15px;
            line-height: 40px;
            text-transform: uppercase;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
.about_images{
    width: 570px;
    display: flex;
    
    img{
        width: 265px;
        height: 150px;
        margin-left: 30px;
    }
}
.top-back{
    background-image: url(../img/top-back.jpg);
    min-height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .top-bach_inner{
        background-color: rgba(0, 0, 0, .8);
        min-height: 450px; 
    }
}
.specials_content{
    margin-top: -350px;
    .specials_title{
    text-align: center;
    font-family: $font-title;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 28px;
    }
}
.slider_item{
    max-width: 570px;
    img{
        width: 570px;
        height: 420px;
    }
    .discription-box{
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 0px 24px 38px 0px rgba(0, 0, 0, 0.09);
        }
        .food_name{
            font-family: $font-title;
            color: #000;
            font-size: 26px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 25px;
        }
        .food_text{
            font-family: $font-text;
            font-size: 15px;
            color: $colorbg;
            line-height: 22px;
            text-align: center;
            margin-bottom: 60px;
        }
    }
}