* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

a {
  text-decoration: none;
  display: inline-block; }

header {
  min-height: 87px; }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.header_logo {
  display: inline-block;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%); }

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header_content ul {
    list-style: none; }
    .header_content ul li {
      display: inline-block; }
      .header_content ul li a {
        color: #2c465a;
        font-family: "Rubik", sans-serif;
        font-size: 15px;
        line-height: 40px;
        margin-right: 30px;
        text-transform: uppercase; }

.cart {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 30px; }
  .cart::before {
    content: '\f07a';
    font-family: 'icomoon';
    font-size: 14px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .cart span {
    display: inline-block;
    position: absolute;
    right: -6px;
    top: -6px;
    background-color: #fe4c8d;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px; }

.book_table {
  background-color: #fea100;
  outline: none;
  border: double #fff;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px; }
  .book_table img {
    margin-right: 15px; }
  .book_table a {
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 40px; }

.main {
  background-image: url(../img/main.jpg);
  min-height: 570px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.main_inner {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 570px; }

.main-slogan {
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: 56px;
  max-width: 500px;
  padding-top: 50px; }

.main-underline {
  background-color: #edf1f3;
  min-height: 100px; }
  .main-underline .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main-underline .container .explore {
      display: inline-block;
      width: 205px;
      height: 246px;
      margin-top: -163px;
      position: relative; }
      .main-underline .container .explore .explore_text {
        max-width: 130px;
        position: absolute;
        top: 110px;
        left: 37px;
        color: #fff;
        font-family: "Noto Serif", serif;
        font-size: 16px;
        font-weight: 700;
        text-align: center; }
  .main-underline .underline_right_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-underline .review {
    width: 220px;
    padding-top: 33px;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-underline .review img {
      width: 45px;
      height: 45px;
      padding-top: 10px; }
    .main-underline .review .review_text {
      width: 90px;
      margin-left: 15px;
      font-family: "Rubik", sans-serif;
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase; }
      .main-underline .review .review_text span {
        color: #fea100; }
    .main-underline .review .go_review {
      width: 45px;
      height: 45px;
      margin-left: 15px;
      background-color: #fea100;
      border-radius: 50%;
      border: double #fff; }
  .main-underline .delivery {
    width: 450px;
    padding-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px; }
    .main-underline .delivery img {
      width: 45px;
      height: 45px;
      padding-top: 10px; }
    .main-underline .delivery .delivery_text {
      width: 140px;
      margin-left: 15px;
      font-family: "Rubik", sans-serif;
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase; }
      .main-underline .delivery .delivery_text span {
        color: #fea100; }
    .main-underline .delivery a {
      font-family: "Noto Serif", serif;
      font-size: 25px;
      color: #000;
      font-weight: 700;
      padding-left: 20px;
      border-left: 1px solid #d7dee3; }

.about_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px; }

.about_content {
  max-width: 570px; }
  .about_content .about_content_title {
    font-family: "Noto Serif", serif;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px; }
  .about_content .about_content_text {
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #4c5659;
    padding-bottom: 45px; }
  .about_content button {
    background-color: #fea100;
    border: none;
    border-radius: 4px; }
    .about_content button a {
      color: #fff;
      font-family: "Rubik", sans-serif;
      font-size: 15px;
      line-height: 40px;
      text-transform: uppercase;
      padding-left: 30px;
      padding-right: 30px; }

.about_images {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .about_images img {
    width: 265px;
    height: 150px;
    margin-left: 30px; }
