* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

a {
  text-decoration: none;
  display: inline-block; }

header {
  min-height: 87px; }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.header_logo {
  display: inline-block;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%); }

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header_content ul {
    list-style: none; }
    .header_content ul li {
      display: inline-block; }
      .header_content ul li a {
        color: #2c465a;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        line-height: 40px;
        margin-right: 30px; }

.cart {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 30px; }
  .cart::before {
    content: '\f07a';
    font-family: 'icomoon';
    font-size: 14px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .cart span {
    display: inline-block;
    position: absolute;
    right: -6px;
    top: -6px;
    background-color: #fe4c8d;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px; }

.book_table {
  background-color: #fea100;
  outline: none;
  border: double #fff;
  border-radius: 6px;
  padding-left: 25px;
  padding-right: 20px; }
  .book_table img {
    margin-right: 15px; }
  .book_table a {
    color: #fff;
    line-height: 60px; }

.main {
  background-image: url(../img/main.jpg);
  min-height: 570px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.main_inner {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 570px; }

.main-slogan {
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: 56px;
  max-width: 500px;
  padding-top: 50px; }

.main-underline {
  background-color: #edf1f3;
  min-height: 100px; }
  .main-underline .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main-underline .container .explore {
      display: inline-block;
      width: 205px;
      height: 246px;
      margin-top: -163px; }
  .main-underline .review .go_review {
    width: 50px;
    height: 50px;
    background-color: #fea100;
    border-radius: 50%;
    border: double #fff; }
